node_modules
**/node_modules
.git
.github
.vscode
.idea
docs
private
*.md
!addons/**/README.md
.env
.env.*
*.log
coverage
.nyc_output
test
tests
**/test
**/tests
.eslintcache
.husky
addons/ve-geology/data
**/.DS_Store
